body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

div {
    margin: 10px;
    padding: 5px;
}

.message {
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.message-info {
    background-color: #cddeff;
    color: #6261b2;
}

.message-success {
    background-color: #cff3da;
    color: #429062;
}

.message-warning {
    background-color: #fcfbc9;
    color: #ac9e46;
}

.message-error {
    background-color: #fad3d7;
    color: #89223b;
}