body {
    font-family: sans-serif;
    background-color: darkgray;
}

h1 {
    color: purple;
}

h2, h3 {
    color: darkorchid;
}

aside, em {
    font-family: serif;
}

h1, .bottom-border {
    bottom-border: 1px solid black;

}